<main>
  <div class="edit-top">
    <h1>Editing Book</h1>
      <div class="error-all">
      <% if @book.errors.any? %>
      <!--エラータイトル（件数）-->
      <h3><%= @book.errors.count %>error prohibited this book from being saved:</h3>
      <div class="error-area">
      <!--エラーメッセージ-->
        <ul class="error-square">
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    <%= form_with model:@book, url: book_path(@book.id), method: :patch do |f| %>
    <div class="edit-main">
      <p>Title</p>
      <%=f.text_field:title,class:"edit-title" %>
      <p>Body</p>
      <%=f.text_area:body,class:"edit-body" %>

      <p><%=f.submit 'Update Book',class:"update-post-botton" %></p>
        <% end %>
        
      <span class="link-border">
      <%= link_to 'Show', book_path,class:"link show-link" %>
      </span>
      <%= link_to 'Back', books_path,class:"link back-link" %>
    </div>
  </div>
</main>